RewriteEngine On


RewriteCond %{REQUEST_URI} !^/Views/
RewriteRule ^pagination?$ pagination.php
RewriteRule ^pagination/([0-9]+) pagination.php?page=$1

RewriteRule ^home allprojects.php [NC,L]
RewriteRule ^pagination/([0-9a-zA-Z]+) pagination.php?page=$1 [NC,L]


